body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h3{
    text-align: center;
}
p{
    text-align: center;
    overflow: hidden;
}
img{
    display: flex;
    margin:auto;
}
.ol{
display: flex;
flex-direction: column;
align-items: center
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: red;
}